!!! 5
%html
  %head
    %title flux_tutorial
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = csrf_meta_tags
  %body
    %header
      %nav
        - if user_signed_in?
          %strong= link_to current_user.email
          = link_to 'Edit profile', edit_user_registration_path
          = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          = link_to 'Sign up', new_user_registration_path
          = link_to 'Log in', new_user_session_path
    %p.notice= notice
    %p.alert= alert
    = yield
